/* Empty. Add your own CSS if you like */
.list-inset{
  margin:10px;
}

.item-icon-left .icon, .item-icon-right .icon {
  font-size: 20px;
}


.bar-spotify{
   background-color: #1a1a1a;
   color:white;
   border:0;
 }

.bar-spotify-dark{
  background-color: #121315;
  color:white;
  border:0;
}

.bar-header {
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
}

.item-complex .item-content, .item-radio .item-content {
  position: relative;
  z-index: 2;
  padding: 16px 49px 16px 16px;
  border: none;
  background-color: #1a1a1a;
}

.item-content.activated{
  background-color: #1a1a1a !important;
}

.range input {
  display: inline-block;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
   padding-right: 0px;
   padding-left: 0px;
  width: auto;
  height: inherit;
  outline: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ccc), color-stop(100%, #ccc));
  background: linear-gradient(to right, #ccc 0%, #ccc 100%);
  background-position: center;
  background-size: 99% 2px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}
